/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  left: 5vw;
  top: 7.5vh;
  width: 90vw;
  height: 90vh;
  background-color: transparent;
  z-index: 2;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (hover: none) {
  #particles-js {
    z-index: 1;
  }
}
